on:
  workflow_call:
    inputs:
      runs-on:
        type: string
        description: The hosted runner to use.
        default: windows-latest
      name:
        type: string
        description: The name of the workflow to call.
        required: true
      dotnet-version:
        type: string
        description: The version of dotnet to use.
      install-workload:
        type: string
        description: The name of the workload to install.
        required: false
        default: ''
      vs-version:
        type: string
        description: The version of Visual Studio to use.
        required: false
      vs-prerelease:
        type: boolean
        description: Whether to use a prerelease version of Visual Studio.
        required: false
        default: false
      solution-path:
        type: string
        description: The path to the solution or project to build.
        required: false
        default: ''
      build-configuration:
        type: string
        description: The build configuration to use.
        default: Release
        required: false
      build-args:
        type: string
        description: The arguments to pass to the build.
        required: false
        default: ''
      run-tests:
        type: boolean
        description: Whether to run the tests or not.
        default: true
        required: false
      test-result-path:
        type: string
        description: The path to the test results.
        default: ./TestResults/*.trx
        required: false
      code-sign:
        type: boolean
        description: Whether to code sign the build or not.
        default: false
        required: false
      artifacts-path:
        type: string
        description: The path to the artifacts.
        default: ./Artifacts/
        required: false
      artifact-name:
        type: string
        description: The name of the artifact.
        default: NuGet
      nugetFeedUrl:
        type: string
        description: Url of a Private NuGet feed.
        required: false
        default: ''
    secrets:
      nugetUserName:
        description: The username to use to access the NuGet feed.
        required: false
      nugetToken:
        description: The token to use to access the NuGet feed.
        required: false
      codeSignTimestampUrl:
        description: The url to the timestamp server.
        required: false
      codeSignKeyVault:
        description: The name of the Azure KeyVault to use.
        required: false
      codeSignClientId:
        description: The client id to use to access the KeyVault.
        required: false
      codeSignTenantId:
        description: The tenant id to use to access the KeyVault.
        required: false
      codeSignClientSecret:
        description: The client secret to use to access the KeyVault.
        required: false
      codeSignCertificate:
        description: The name of the certificate to use to code sign the build.
        required: false

jobs:
  msbuild-build:
    runs-on: ${{ inputs.runs-on }}
    name: ${{ inputs.name }}
    env:
      DOTNET_CLI_TELEMETRY_OPTOUT: 1

    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Setup .NET ${{ inputs.dotnet-version }}
        if: ${{ inputs.dotnet-version }}
        uses: actions/setup-dotnet@v2
        with:
          dotnet-version: ${{ inputs.dotnet-version }}

      - name: Install .NET Workload
        if: ${{ inputs.install-workload }}
        run: dotnet workload install ${{ inputs.install-workload }}

      - name: Download Latest NuGet.exe
        if: ${{ inputs.runs-on }} == windows-latest
        run: curl -L -o nuget.exe https://dist.nuget.org/win-x86-commandline/latest/nuget.exe

      - name: Add NuGet Feed
        if: ${{ inputs.nugetFeedUrl }}
        shell: pwsh
        run: |
          $userName = "${{ secrets.nugetUserName }}"
          $token = "${{ secrets.nugetToken }}"
          if ($userName -eq '' || $token -eq '') {
            nuget sources Add -Source ${{ inputs.nugetFeedUrl }} -Name "CustomFeed"
          } else {
            nuget sources Add -Source ${{ inputs.nugetFeedUrl }} -Name "CustomFeed" -Username $userName -Password $token
          }

      - name: NuGet Restore
        run: nuget restore ${{ inputs.solution-path }}

      - name: Setup MSBuild
        uses: microsoft/setup-msbuild@v1.1
        with:
          vs-version: ${{ inputs.vs-version }}
          vs-prerelease: ${{ inputs.vs-prerelease }}

      - name: Build Packages
        run: msbuild ${{ inputs.solution-path }} /p:Configuration=${{ inputs.build-configuration }} ${{ inputs.build-args }}

      - name: Run Tests
        if: ${{ inputs.run-tests }}
        run: dotnet test ${{ inputs.solution-path }} -c ${{ inputs.build-configuration }} --no-build

      - name: Report Test Results
        if: ${{ inputs.run-tests }} && ${{ always() }}
        uses: dorny/test-reporter@main
        with:
          name: ${{ inputs.name }} Tests
          path: ${{ inputs.test-result-path }}
          reporter: dotnet-trx

      - name: Sign NuGet Packages
        if: ${{ inputs.code-sign }}
        shell: pwsh
        working-directory: ${{ inputs.artifacts-path }}
        run: |
          dotnet tool install --global NuGetKeyVaultSignTool
          $timestampUrl = "${{ secrets.codeSignTimestampUrl }}"
          if ($timestampUrl -eq '') {
            $timestampUrl = 'http://timestamp.digicert.com'
          }
          NuGetKeyVaultSignTool sign *.nupkg `
            --file-digest sha256 `
            --timestamp-rfc3161 $timestampUrl `
            --timestamp-digest sha256 `
            --azure-key-vault-url '${{ secrets.codeSignKeyVault }}' `
            --azure-key-vault-client-id '${{ secrets.codeSignClientId }}' `
            --azure-key-vault-tenant-id '${{ secrets.codeSignTenantId }}' `
            --azure-key-vault-client-secret '${{ secrets.codeSignClientSecret }}' `
            --azure-key-vault-certificate '${{ secrets.codeSignCertificate }}'
          NuGetKeyVaultSignTool sign *.snupkg `
            --file-digest sha256 `
            --timestamp-rfc3161 $timestampUrl `
            --timestamp-digest sha256 `
            --azure-key-vault-url '${{ secrets.codeSignKeyVault }}' `
            --azure-key-vault-client-id '${{ secrets.codeSignClientId }}' `
            --azure-key-vault-tenant-id '${{ secrets.codeSignTenantId }}' `
            --azure-key-vault-client-secret '${{ secrets.codeSignClientSecret }}' `
            --azure-key-vault-certificate '${{ secrets.codeSignCertificate }}'

      - name: Upload Artifacts
        uses: actions/upload-artifact@v3
        with:
          name: ${{ inputs.artifact-name }}
          path: ${{ inputs.artifacts-path }}